<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
        >
    <testsuites>
        <testsuite name="Bijective Test Suite">
            <directory>./tests/Bijective/</directory>
        </testsuite>
    </testsuites>
</phpunit>